$dark-text: #4c4c4c;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-heading {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.paragraph {
    font-size: 15px;
    color: $dark-text;
}